Supermarket/Connected Services/DataService/DataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseData.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseData.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKPI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KPI" nillable="true" type="tns:KPI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKPI" nillable="true" type="tns:ArrayOfKPI" />
  <xs:complexType name="KPI">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dowmthreshold" type="xs:decimal" />
      <xs:element minOccurs="0" name="Goal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Upthreshold" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KPI" nillable="true" type="tns:KPI" />
</xs:schema>