Supermarket/Connected Services/DataService/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53887/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseData" />
  <xs:import schemaLocation="http://localhost:53887/DataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DatabaseData.Model" />
  <xs:element name="GetKPIS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKPISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DatabaseData" minOccurs="0" name="GetKPISResult" nillable="true" type="q1:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateKPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DatabaseData.Model" minOccurs="0" name="kpi" nillable="true" type="q2:KPI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateKPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DatabaseData" minOccurs="0" name="CreateKPIResult" nillable="true" type="q3:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>