Supermarket/Connected Services/DataService/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53887/DataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DatabaseData.Model" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DatabaseData.Model" minOccurs="0" name="KPIList" nillable="true" type="q1:ArrayOfKPI" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:Response.StatusEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:simpleType name="Response.StatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Fail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Response.StatusEnum" nillable="true" type="tns:Response.StatusEnum" />
</xs:schema>